// default texts styles
h1 {
  font-size: $font-xl;
  font-weight: 700;
}

h2 {
  font-size: $font-l;
  font-weight: 600;
}

h3 {
  font-size: $font-m;
  font-weight: 600;
}

h4 {
  font-size: $font-s;
  font-weight: 600;
}

h5 {
  font-size: $font-xs;
  font-weight: 600;
}

h6 {
  font-size: $font-xs;
  font-weight: 600;
}

@include responsive(768px) {
  h1 {
    font-size: $font-xl + $font-xl-responsive;
  }
  h2 {
    font-size: $font-l + $font-l-responsive;
  }
  h3 {
    font-size: $font-m + $font-m-responsive;
  }
  h4 {
    font-size: $font-s + $font-s-responsive;
  }
  h5 {
    font-size: $font-xs + $font-xs-responsive;
  }
  h6 {
    font-size: $font-xs + $font-xs-responsive;
  }
}

@include responsive(1040px) {
  h1 {
    font-size: $font-xl + ($font-xl-responsive * 2);
  }
  h2 {
    font-size: $font-l + ($font-l-responsive * 2);
  }
  h3 {
    font-size: $font-m + ($font-m-responsive * 2);
  }
  h4 {
    font-size: $font-s + ($font-s-responsive * 2);
  }
  h5 {
    font-size: $font-xs + ($font-xs-responsive * 2);
  }
  h6 {
    font-size: $font-xs + ($font-xs-responsive * 2);
  }
}

// default link styles
a {
  color: $link;
  &:hover {
    text-decoration: underline;
  }
}

// default table styles
table {
  th,
  td {
    padding: 0.7rem;
    border: 1px solid $g;
  }
}

// default button styles
button,
input[type="submit"],
input[type="button"] {
  padding: 0.5rem 0.7rem;
  background-color: $g;
  border-radius: $border-radius;
}

// default champs styles
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="(number)"],
input[type="email"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  border-radius: $border-radius;
  padding: 0.5rem;
  border: $border-xs solid $g;
}
