* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  object-fit: cover;
  max-width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}
ul,
ol {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  border: none;
  background-color: inherit;
}
table,
thead,
tr,
th,
td {
  border: solid;
  border-collapse: collapse;
}
textarea {
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
}
a,
button {
  user-select: none;
  cursor: pointer;
}
