// 🔴font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto");

// 🔴Colors
$primary: #dedede;
$secondary: #aaa;
$link: #0074d9;
$tel: #01ff70;
$mail: #2d95f9;
$success: #2ecc71;
$warning: #ff851b;
$error: #ff4136;
$info: #ffdc00;
$text: #333;
$border: #ddd;
$w: #fff;
$b: #000;

// 🔴Sizes
$br: 0.5rem;

// 🔴Texts
body {
  font-family: "Roboto", sans-serif;
  color: $text;
  font-size: 1rem;
  font-weight: 600;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
@include responsive(768px) {
  h1 {
    font-size: 3.5rem;
  }
}
@include responsive(1040px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}

// 🔴Buttons
%buttons {
  padding: 0.8rem 1.8rem;
  border: solid 0.1rem;
}
.button {
  background-color: $primary;
  @extend %buttons;
  border-radius: 3rem;
  &:hover {
    background-color: darken-color($primary, 10%);
  }
}

// 🔴Links
%links {
  color: $link;
}
.link {
  @extend %links;
  &:hover {
    text-decoration: underline;
  }
}

// 🔴Writing fields
%writing_fields {
  padding: 1rem;
  border-radius: $br;
}
.writing_fields {
  @extend %writing_fields;
  border: solid $border;
}

// 🔴Error
.error {
  color: $error;
  font-weight: bold;
}
