// 🔴Function
@function gradient($color1, $color2, $direction) {
  @return linear-gradient($direction, $color1, $color2);
}
@function darken-color($color, $amount) {
  @return darken($color, $amount);
}
@function generate-color($base-color, $percentage) {
  @return mix(white, $base-color, $percentage);
}

// 🔴Placeholder Selectors
%ellipsis {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}
%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 🔴Mixin
@mixin bg-pattem($url, $p) {
  background-image: $url;
  background-position: $p;
}
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}
@mixin responsive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
