@import "reset";
@import "breakpoints";
@import "variables";
@import "components";
@import "base";
@import "layout";

// Pages
@import "main";
@import "404";

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(90deg, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
