@import "base";
@import "styles";
@import "design-tokens";
@import "404";
@import "layout";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  @extend %absolute-center;
  background: gradient(red, blue, 90deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  flex: 1;
}
